<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %} - {{ site.title }}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}description{% endif %}">
  {% if page.noindex %}<meta name="robots" content="noindex,noarchive">{% endif %}
  {% if site.author %}<meta name="author" content="{{ site.author }}">{% endif %}

  <meta property="og:url" content="{{ page.url }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %} - {{ site.title }}">
  {% if page.excerpt %}<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">{% endif %}
  {% if page.image %}<meta property="og:image" content="{{ page.image }}">{% endif %}
  <meta name="twitter:card" content="summary">

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  {% if true or page.content contains "$" or page.content contains "\\(" or page.content contains "\\[" or page.content contains "math/tex" %}
  <script async src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: { inlineMath: [['$','$'], ["\\(","\\)"]] },
      TeX: { extensions: ["color.js"] },
      "HTML-CSS": { linebreaks: { automatic: true } },
    });
  </script>
  {% endif %}
  {% if false %}
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-66624475-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-66624475-1');
  </script>
  {% endif %}
</head>
